.login__top {
  background-color: #fff059;
  display: block;
  height: 11.375rem;
  width: 100%;
}
.login__form {
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.15);
  margin: -6.875rem auto 0;
  max-width: 25.5rem;
  min-height: 25.5625rem;
  padding: 2rem 4rem;
  background-color: rgb(253, 253, 253);
}
.login__singInButton {
  width: 100%;
  border-color: transparent;
  background-color: #3483fa;
  color: #fff;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  padding: 0 24px;
  height: 48px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.login__registerButton {
  width: 100%;
  border-color: transparent;
  color: #3483fa;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  padding: 0 24px;
  height: 48px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.login__form > form > input {
  margin: 30px;
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(83, 83, 83);
  width: 80%;
}
