.navbar {
  /* display: flex;
  align-items: center; */
  position: sticky;
  height: 10vh;
  background-color: #333;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.main-nav__menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 15px;
}
.main-nav__menu-item-link {
  font-family: "Times New Roman", Times, serif;
}

.main-nav .burger {
  margin: 15px;
  display: none;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .main-nav .burger {
    display: block;
  }
  .main-nav__menu {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    padding: 40px;
    width: 50%;
    margin: 0;
    transform: translateX(-500px);
  }
  .main-nav__menu-item {
    padding: 25px;
    border-bottom: 1px solid #ccc;
  }
}
